<div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen bg-gradient-to-r from-green-500 to-orange-500">
    <div class="px-4 py-48">
     <div class="relative w-full text-center">
       <h1 class="pulsing-text">
         Hoist URL Shortener
       </h1>
    </div>
   </div>
  </div>
</div>
